.lesson {
    background-color: lemonchiffon;
  }
  
  .title {
    color: orangered;
  }
  
  #email {
    background-color: yellow;
  }
  
  #github {
    background-color: blanchedalmond;
  }
  
  #portfolio {
    background-color: lightcoral;
  }